repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.3.2
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets

  - repo: https://github.com/pre-commit/mirrors-shellcheck
    rev: v0.9.0
    hooks:
      - id: shellcheck
        args: ["--severity", "style"]

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.54.0
    hooks:
      - id: terraform_fmt
        files: \.(tf|tfvars)$